* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

section {
  padding-top: 65px;
  padding-bottom: 100px;
}

@media (max-width: 1279px) {
  .container {
    max-width: 950px;
  }
}

@media (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 420px) {
  .container {
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans Regular', sans-serif;
}

.button {
  padding: 15px 60px;
  border: none;
  background-color: #ff2d2d;
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans Bold", sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  font-size: 42px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Open Sans Bold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
}

p {
  line-height: 1.8;
}

hr {
  max-width: 1250px;
  opacity: 0.4;
}

.mini-hr {
  width: 135px;
  margin: 22px auto 0;
  border: 1px solid #ff2d2d;
}

.mini-hr-left {
  margin: 22px 0 0;
}

.header {
  background-color: #f6f2f2;
}

.navbar {
  background-color: #313030;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navbar__menu {
  margin: 0 auto;
}

.navbar__menu ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e0e0e0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__menu ul li {
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
}

.navbar__menu ul li:hover {
  background-color: #ff2d2d;
}

.navbar__menu ul li a {
  font-size: 14px;
  display: block;
  color: #e0e0e0;
  padding: 32px 25px 28px;
  text-decoration: none;
}

.hero {
  padding: 110px 0;
}

.hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.hero__title-heading {
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 35px;
  letter-spacing: 2px;
  font-family: "Open Sans ExtraBold", sans-serif;
}

.hero__title p {
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 16px;
  opacity: 0.7;
}

.hero__title-button {
  margin-top: 40px;
}

.hero__video {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.hero__video video {
  width: 100%;
  margin-top: 50px;
}

@media (max-width: 1279px) {
  .hero__title-heading {
    font-size: 40px;
  }
  .hero__video video {
    height: 84%;
  }
}

@media (max-width: 1023px) {
  .hero__title-heading {
    font-size: 34px;
  }
  .hero__video {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media (max-width: 850px) {
  .navbar__menu ul li a {
    padding: 20px 20px;
  }
  .hero {
    padding: 60px 0;
  }
  .hero-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__title {
    padding-top: 30px;
    width: 100%;
    text-align: center;
  }
  .hero__title-heading {
    font-size: 40px;
  }
  .hero__video {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .navbar__menu ul li a {
    padding: 20px 6px;
  }
  .hero__title-heading {
    font-size: 26px;
  }
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__block {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
}

.about-us__block p {
  margin-top: 35px;
  font-size: 16px;
}

.about-us__block-button {
  background-color: #fff;
  color: #ff2d2d;
  border: 2px solid #ff2d2d;
  margin-top: 40px;
}

.about-us__items {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.7;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__items__item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-top: 40px;
}

.about-us__items h5 {
  font-size: 24px;
  margin: 23px 0 20px;
}

.features {
  padding-bottom: 0;
}

.features__heading {
  width: 515px;
  margin: 0 auto;
  text-align: center;
}

.features__heading p {
  opacity: 0.7;
}

.features__filter-menu {
  margin-top: 85px;
}

.features__filter-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__filter-menu-button {
  list-style-type: none;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  padding: 5px 25px;
  font-family: 'Open Sans Semibold', sans-serif;
  cursor: pointer;
}

.features__filter-menu-button:hover, .features__filter-menu-button-active {
  color: #ff2d2d;
}

.features__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.features__gallery-img {
  width: 300px;
  height: 290px;
  background-color: #f5f0dd;
  margin: 6px;
}

.our-team p {
  font-size: 16px;
  opacity: .7;
}

.our-team__heading p {
  width: 450px;
}

.our-team__cards-wrap {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-team__main-card-photo {
  background-color: #f5f0dd;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.our-team__card-info h4 {
  text-transform: uppercase;
  font-size: 30px;
  opacity: .8;
  margin-bottom: 22px;
}

.our-team__card-info-wrap {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.our-team__card-info__links {
  margin-top: 40px;
}

.our-team__card-info__links a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
  margin-right: 30px;
}

.our-team__other-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.our-team__other-cards-item {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  background-color: #f5f0dd;
  height: 210px;
}
/*# sourceMappingURL=style.css.map */